body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.btn:hover {
    background-color: #3c40431e;
    border-radius: 1000px;
}